.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 20px;
    transition: all 500ms;
}

.button {
    width: 80px;
    height: 35px;
    background-color: rgb(19, 19, 19);
    border-radius: 8px;
    border: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 90%;
    }
    
}