.contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 15px;
    width: 650px;
    min-height: 100px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

.contain>span {
    color: rgb(0, 0, 0);
}